p {
}

// Main Chat Box

ul.main-chat-box {
  height: 65vh;
  border-radius: 10px;
  overflow-y: scroll;
  background-color: #e8e8e8;

  li.main-chat-message {
    min-height: 50px;
    overflow-x: hidden;
    border-top: 1px solid #fff;
    padding: 0 10px;

    .name {
      // margin-top: 5px;

      span {
        font-size: 10px;
        padding: 3px;
        // color: #7a7a7a;
        // border-radius: 5px;
        // background-color: white;
      }
    }

    .content {
      margin: 3px 0 0 0;
      padding: 5px;
      color: #5c5c5c;
      // background-color: #f0f0f0;

      span {
        display: block;
        padding: 3px;

        white-space: pre-wrap;
        line-height: normal;
        font-size: 16px;
        font-style: normal;
      }
    }

    .btn-delete-container {
      margin-top: 3px;

      .btn-delete {
        cursor: pointer;
        margin-right: 5px;
      }
    }

    .timestamp {
      margin: -2px 5px 5px 0;

      span {
        font-size: 8px;
        color: #333;
      }
    }
  }

  li.main-chat-message:first-child {
    padding-top: 10px;
    border-top: none;
  }

  li.main-chat-message:last-child {
    padding-bottom: 10px;
  }

  #content {
    border: none;
  }
}

// Main Toolbar
.select-wrapper input.select-dropdown {
  border-bottom: none !important;
  height: 2rem;
  margin-bottom: 0 !important;

  &:focus {
    border-bottom: none !important;
  }
}

// Side Chat Box

.side-chat-box {
  position: absolute;
  width: 250px;
  top: 0;
  left: 0;
  z-index: 1000;

  .moveable {
    width: 100%;
    height: 20px;
    color: white;
    background-color: #00bcd4;
    cursor: grab !important;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    margin: 0;

    li {
      display: inline-block;
      cursor: pointer;
      height: 20px;
    }

    .minimize {
      padding: 0 5px;
    }
    .minimize:hover {
      background-color: rgba(100, 100, 100, 1);
    }
  }
  .moveable:active {
    cursor: grabbing !important;
  }

  .chat-area {
    width: 100%;
    height: 250px;
    background-color: rgba(178, 235, 242, 0.88);

    .chat-text-row {
      height: 65%;

      .chat-text-col {
        height: 100%;

        ul {
          overflow-y: scroll;
          height: 100%;
          color: #333;

          li {
            overflow-x: scroll;
            border-top: 1px solid #525252;

            .name-delete-container {
              margin: 0;

              .name-container {
                padding-left: 0;

                .name {
                  font-size: 8px;
                }
              }

              .delete {
                cursor: pointer;
              }
            }

            .content-container {
              margin-bottom: 5px;

              span {
                white-space: pre-wrap;
                line-height: normal;
                font-size: 16px;
                font-style: normal;
              }
            }
          }

          li:last-child {
            border-bottom: 1px solid #525252;
          }
        }
      }
    }

    .form-container-row {
      height: auto;

      .input-field {
        display: inline-flex;
      }
    }
  }

  .resize-handle {
    cursor: nwse-resize !important;

    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #00bcd4;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
}

// textarea {
//   font-family: sans-serif !important;
//   font-style: normal;
// }
